<div class="center topBar">
  <button class="button button-hover" (click)="newBox()">Add new Box</button>
  <button class="button button-hover" (click)="toggleHandleKeyboardEvent()">
    Toggle Keyboard Listener
  </button>
  <span
    class="button"
    [ngClass]="{
      'btn-inactive': !keyboardListening,
      'btn-active': keyboardListening
    }"
  >
    Keyboard Controls : {{ keyboardListening ? "Active" : "Inactive" }}
  </span>
</div>
<div
  [style.height.px]="limit.height"
  [style.width.px]="limit.width"
  [style.top.px]="limit.y"
  [style.left.px]="limit.x"
  style="position: fixed; border: 5px solid red"
>
  <div
    *ngFor="let box of boxes"
    [style.height.px]="box.height"
    [style.width.px]="box.width"
    [style.top.px]="box.y"
    [style.left.px]="box.x"
    [style.border-width.px]="box.isSelected ? '1' : '0'"
    [style.border-style]="'solid'"
    [style.border-color]="'black'"
    [style.background-color]="box.isSelected ? 'teal' : 'lightblue'"
    [style.z-index]="box.id"
    (click)="setSelected(box)"
    style="position: fixed; text-align: center"
  >
    {{ box.id }}
  </div>
</div>
